/* === if you find this source code helpul,Feel free to support our channel
 on Buymecoffee page and get access to more login forms and web projects.
link below! 
  https://buymeacoffee.com/mrsmartchoice === */










































/* === GLOBAL STYLE === */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* === SIDEBAR BEGINS === */


/* === LOGO MENU === */



/* === LIST STYLE=== */


/* === DROP_DOWN OPTION === */